@charset "utf-8";
.l-home .RB .opacity{
    width:100%;
    height: 100%;
    background-color: #fff;
    font-size: 14px;
    color: rgb(170, 151, 151);
    opacity: 0;
}
.opacity h3{
   top: 15%;
   transition: .3s;
}
.opacity p{
    bottom: 15%;
    transition: .3s
}
.l-home .RB li:hover .opacity h3{
    transform: translateY(15px);
}
.l-home .RB li:hover .opacity p{
    transform: translateY(-15px);
}

.l-home .RB .opacity:hover{
    opacity: 1;
}

    
